<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a href="http://localhost:3000/inventory/keyboards">Visit an overiew of Keyboards here</a>
    <div>
    <a href="http://localhost:3000/inventory/keyboardbrands">Visit an overiew of Keyboard Brands here</a> </div>
    <a href="http://localhost:3000/inventory/keyboardbrandsdetail">Visit an overiew of Keyboard Brands and their products here</a> </div>
    <a href="http://localhost:3000/inventory/keyboardcategories">Visit an overiew of Keyboard categories and their products here</a> </div>
    
  </body>
</html>
