<!DOCTYPE html>
<html>
  <head>
    <title>Keyboards</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Keyboards</h1>
    <h2>Welcome to Keyboard Overview</h2>
    <% keyboardbcategory_list.forEach(function(category){  %>
        
          <h3><%= category.name %></h3>
        
<%})%>
  </body>
</html>